body {
    background: rgb(41, 41, 53);
    font: normal 15pt Arial;

}
header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
    line-height: 30px;

}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}
#res {
    text-align: center;
    background-color: rgba(43, 36, 36, 0.507);
    border: 5px solid 5px black;
    margin-top: 10px;
    
}
input {
    padding: 5px;
}
#botao{
    background: rgb(255, 255, 255);
    cursor: pointer;
}
#botao:hover {
    background: rgb(250, 235, 235);
}
